<div class="row">
    <div class="col-md-10">
        <div ui-view="posts"></div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                <div ui-view="categories"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Tags</div>
            <div class="panel-body">
                <div ui-view="tags"></div>
            </div>
        </div>
    </div>
</div>