h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.desc {
    color: #777;
}

.navbar-pad {
    height: 8rem;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;

    text-align: center;
    display: block;
    width: 100%;
    height: 6.5rem;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 99;
}
.navbar-logo {
    float: left;
    height: 6.5rem;
}
#navbar-menu-btn {
    float: right;
    height: 6.5rem;
    line-height: 6.5rem;
    font-size: 4rem;
    color: #222;
}
.navbar-mobile {
    position: absolute;
    width: 100%;
    height: calc(100% - 6.5rem);
    background-color: #fff;
    z-index: 98;
    padding-top: 6.5rem;
    transition-duration: 1s;
    transform: translateY(-100%);
}
.navbar-mobile.open {
    transform: translateY(0%);
}
.navbar-mobile .navbar-link {
    width: 100%;
}
.navbar-item {
    list-style: none;
    margin: 0;
}
@media (max-width: 750px) {
    .navbar-list {
        display: none;
    }
}
@media (min-width: 750px) {
    .navbar-logo {
        float: none;
    }
    #navbar-menu-btn {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }
    .navbar-list {
        margin-bottom: 0;
        display: inline-block;
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
}
.navbar-link {
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0 20px;
    line-height: 6.5rem;
    text-decoration: none;
    color: #222;
}

.section {
    text-align: center;
}
.section.centered {
    position: relative;
    height: calc(100% - 8rem);
}
.section.centered .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    font-size: 10rem;
}
.title-buttons {
    padding-top: 1rem;
    text-align: center;
}
.title-buttons .button {
    display: inline-block;
}

.preview {
    width: 100%;
    padding: 1rem 0 2rem 0;
    text-align: left;
}
.preview .head {
    padding: 1rem 0 0 0;
}
.preview .head h2 {
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    max-width: 80%;
    margin: 0;
}
.preview a {
    color: #222;
    text-decoration: none;
}
@media (min-width: 750px) {
    .preview .head {
        padding: 1rem 0 3rem 0;
    }
    .preview .head h2 {
        float: left;
    }
    .preview .head .date {
        float: right;
    }
}
.preview .head .date {
    display: block;
}
.preview .content p {
    margin: 1em 0;
}

#contact {
    text-align: left;
}
#contact .container {
    max-width: 300px;
}
#contact li {
    margin: 0;
}
#contact li a {
    text-decoration: none;
}

#blog {
    text-align: left;
}
#blog .head {
    padding: 1rem 0 3rem 0;
}
#blog .head h1 {
    font-size: 3rem;
    max-width: 80%;
    margin: 0;
    float: left;
}
#blog .head .date {
    float: right;
}
#blog .content {
    margin: 1em 0;
}
#blog .content img {
    width: 100%;
    height: auto;
}

#blog-form {
    height: calc(100% - 7rem);
    width: 100%;
}
#blog-form #title {
    width: 100%;
}
#blog-form #body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#blog-form #submit {
    width: 100%;
}

#projects .final {
    margin-bottom: 6rem;
}
#projects .final h2 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.project {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #dcd9d9;
    text-align: left;
    margin: 0 auto 30px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}
.project img {
    vertical-align: middle;
}
.project h1 {
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 1rem;
}
.project .eight {
    padding: 1rem;
}
