.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: 0;
    z-index: 1050;
    background-color: rgba(0, 0, 0, .5);
    display: none;

    .modal-dialog {
        position: relative;
        width: 600px;
        margin: 30px auto;

        .modal-content {
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;

            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            .modal-header {
                padding: 15px;
                border-bottom: 1px solid #e5e5e5;
            }

            .modal-body {
                padding: 15px;
            }

            .modal-footer {
                padding: 7px;
                text-align: right;
                border-top: 1px solid #e5e5e5;
            }
        }
    }
}
