@import 'vars';

.post {
    margin-top: 64px;
    padding: 3em 0;

    .title {
        font-size: 4em;
        margin-top: 0;
        text-align: center;
    }
    .post-meta {
        font-family: $headings-font-family;
        text-align: center;
        color: #aaa;
        display: block;
        font-size: 1.2em;
        line-height: 1.7em;
        margin: 0 0 2em;
    }

    h1, h2 {
        font-family: $headings-font-family;
        color: #151515;
        margin-top: 1em;
        margin-bottom: .7em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }

    p {
        color: #555;
        font-size: 1.2em;
        line-height: 1.8em;
    }

    hr {
        margin-left: -3em;
        margin-right: -3em;
        border-style: none;
        height: 1px;
        background: #EEE;
    }
}