@import "vars";

#content {
    height: 100%;
    padding-top: 84px;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all .3s cubic-bezier(.165, .84, .44, 1);

    &.loaded {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }

    #home {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #title {
            font-size: 2em;
        }

        #slogan-wrapper {
            font-family: $font-family;
            font-size: 2em;
            margin-bottom: 2em;

            #slogan {
                display: inline-block;
            }
        }

        #btn-wrapper {
            .btn {
                font-size: 1em;
                margin: 0 1em;
                color: #fff;
                background: #2098e8;
                border-radius: 3px;
                transition: .5s cubic-bezier(.165, .84, .44, 1);
                min-width: 8em;

                &:hover {
                    background: #147cc1;
                }
            }
        }
    }

    #about {
        height: 100%;

        .full-height {
            height: 100%;
        }

        p {
            font-size: 1em;
        }

        #about-desc {
            font-size: 2em;
            color: #2098e8;
        }
    }

    #portfolio {
        height: 100%;
    }

    #blog {
        height: 100%;

        .post-entry {
            text-align: left;
            color: #000;
            display: block;
            margin-bottom: 3em;

            &:hover {
                text-decoration: none;
                color: #2098e8;
            }

            .post-content {
                display: block;
                padding: 15px;

                .title {
                    display: block;
                    text-align: left;
                    font-family: $headings-font-family;
                    padding: 5px 0;
                    font-size: 1.5em;
                }
                .time {
                    display: block;
                    color: #aaa;
                    margin: 5px 0;
                    font-family: $headings-font-family;
                    font-size: 1.1em;
                }
                .excerpt {
                    line-height: 1.7em;
                    font-size: 1.2em;
                    color: #555;
                }
            }
        }
    }

    #contact {
        #contact-list {
            font-size: 2em;

            .fa {
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: #504e54;
                transition: all 0.3s ease-in-out;
                border-radius: 50%;
                color: rgba(255, 255, 255, 0.8);
            }
            .fa-linkedin {
                background-color: #0085AE;
            }
            .fa-twitter {
                background-color: #32CCFE;
            }
        }
    }
}

