@import 'vars';

#nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: #fff;
    font-family: $headings-font-family;
    text-transform: uppercase;
    z-index: 15;
    transition: opacity 100ms ease-out, transform 300ms ease;

    &.scroll-hidden {
        transform: translateY(-55%) !important;
        opacity: 0.5;
    }

    #nav-inner {
        position: relative;
        text-align: center;

        a {
            color: #bbb;
            display: inline-block;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 5px;
            line-height: 14px;
            text-decoration: none;
            padding: 26px;
            transition: .5s cubic-bezier(.165, .84, .44, 1);

            &:hover {
                color: #2098e8;
            }
        }

        #nav-home {
            margin: 4px;
            padding: 0;
            height: 56px;
            width: 56px;

            img {
                height: 100%;
                width: 100%;
                transition: 1s;

                &:hover {
                    transform: rotateY(360deg);
                }
            }
        }

        #nav-left {
            position: absolute;
            right: 50%;
            top: 0;
            margin-right: 60px;
        }

        #nav-right {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: 60px;
        }
    }

    #mobile-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    #nav {
        padding: 10px;
        border-bottom: 1px solid #ddd;

        #nav-inner {
            #nav-home {
                float: left;
                position: relative;
                width: 40px;
                height: 40px;
            }
            #nav-left, #nav-right {
                display: none;
            }
            #hamburger {
                width: 40px;
                height: 40px;
                float: right;
                position: relative;
                i {
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    right: 4px;
                    font-size: 40px;
                }
            }
        }
    }

    #mobile-menu {
        display: none;
        overflow-y: auto;
        position: fixed;
        background: #fff;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 10;
        padding-top: 80px;
        transition: all .2s;
        text-align: center;

        a {
            padding: .5em;
            color: #111;
            display: inline-block;
            max-width: 700px;
            margin: 0 auto;
            text-decoration: none;
            font-size: 2.5em;
            position: relative;
            background: transparent;
            opacity: 0.7;
            transition: all .3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}
