<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Benjamin Cheng</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="index">
<div>
    {% include "base-content.html" %}

    <main>
        {% set page = get_page(path="about.md") %}
        {{ page.content | safe }}
    </main>
</div>

<aside class="contact">
    <img src="/avatar.png" />

    <dl>
        <dt>email</dt>
        <dd><a href="mailto:ben@bcheng.me">ben@bcheng.me</a></dd>

        <dt>github</dt>
        <dd><a href="https://github.com/lolzballs">lolzballs</a></dd>

        <dt>linkedin</dt>
        <dd><a href="https://linkedin.com/in/benchengcs">benchengcs</a></dd>

        <dt>pgp</dt>
        <dd><a href="/pgpkey.txt">4FE22E7528E97BD8</a></dd>
    </dl>
</aside>

</body>
</html>
