{% extends "base.html" %}

{% block page %}
<div class="section" id="projects">
    <div class="container">
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/authfid.jpg">
            </div>
            <div class="eight columns">
                <h1>AuthFID</h1>
                <p>
                    Created during a 36-hour period at HackWestern 2
                    (best end-to-end integration),
                    AuthFID is a dedicated device with a touch screen
                    that allows fast, secure, and easy access to two
                    factor authentication codes. Users are authenticated 
                    to the device via an RFID card, and tapping on the
                    visible code will type it in on the computer for you
                    - this process takes less than 2 seconds, 5 times
                    less than what would occur through a normal process.
                </p>
                <a class="button" href="https://devpost.com/software/authfid">More</a>
            </div>
        </div>
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/faight.jpg">
            </div>
            <div class="eight columns">
                <h1>FAIght</h1>
                <p>
                    FAIght is an educational "game" where users submit AIs to play
                    Connect 4 verses other users' AIs. This project uses React.js,
                    Node.js, Firebase, and Java. It was created in under 24 hours at
                    MaseyHacks III (2nd place, best game).
                </p>
                <a class="button" href="https://devpost.com/software/authfid">More</a>
            </div>
        </div>
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/hnotifier.jpg">
            </div>
            <div class="eight columns">
                <h1>HNotifier</h1>
                <p>
                    HNotifier is an app designed to make it easy for
                    hackathon organizers to communicate with participants.
                    Utilizing the Ionic Framework, and Java, this was created
                    in under 24 hours at MasseyHacks II (best developer tool).
                </p>
                <a class="button" href="https://devpost.com/software/hnotifier">More</a>
            </div>
        </div>
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/aircheck.png">
            </div>
            <div class="eight columns">
                <h1>AirCheck-NG</h1>
                <p>
                    AirCheck-NG is a webapp which allows for the reporting of,
                    and viewing of air-quality related health symptoms. Additionally,
                    it fetches up-to-date weather data, presenting extreme weather,
                    and the health symptoms together in a organized and logical fashion.
                    This was created in under 36-hours for the NASA Space Apps Challenge 2016.
                </p>
                <a class="button" href="https://2016.spaceappschallenge.org/challenges/earth/aircheck/projects/aircheck-ng">More</a>
            </div>
        </div>
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/studyhub.png">
            </div>
            <div class="eight columns">
                <h1>StudyHUB</h1>
                <p>
                    StudyHub is a web application that allows students
                    to organize their works, connect to their peers,
                    and make them more productive in learning.
                    This project is built with AngularJS, Laravel
                    (PHP MVC framework), Bootstrap, MySQL, and jQuery.
                </p>
                <a class="button" href="https://studyhub.cf/">More</a>
            </div>
        </div>
        <div class="row project">
            <div class="four columns">
                <img class="u-max-full-width" src="img/projectascension.png">
            </div>
            <div class="eight columns">
                <h1>Project Ascension</h1>
                <p>
                    Project Ascension is an open-source, community-based,
                    game launcher, which aims at unifying various services
                    like Steam, Origin, uPlay, together.
                    The client is written in C++ with the Qt library.
                </p>
                <a class="button" href="https://github.com/Proj-Ascension/Client">More</a>
            </div>
        </div>
        <div class="row final">
            <h2>But wait... there's more!</h2>
            <a class="button" href="https://github.com/lolzballs">More Projects on GitHub</a>
        </div>
    </div>
</div>
{% endblock page %}

